trigger:
- main

jobs:
- job:
  strategy:
   matrix:
      Linux:
        imageName: linux-latest
      macOS:
        imageName: macOS-latest
      Windows:
        imageName: windows-latest
  displayName: Build & Publish
  pool:
    vmImage: $(imageName)
  steps:
  - checkout: self
    clean: true
  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      projects: '$(Build.SourcesDirectory)/Wiinject/Wiinject.csproj'
      arguments: '-c Release -o $(Build.ArtifactsStagingDirectory)/$(imageName)'
      displayName: Build Wiinject
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactsStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'
      displayName: Publish Wiinject