trigger:
- main

jobs:
- job:
  strategy:
    matrix:
      Linux:
        imageName: ubuntu-latest
      macOS:
        imageName: macOS-latest
      Windows:
        imageName: windows-latest
  displayName: Build & Publish
  pool:
    vmImage: $(imageName)
  steps:
  - checkout: self
    clean: true
  - task: DotNetCoreCLI@2
    inputs:
      command: 'publish'
      publishWebProjects: false
      projects: '$(Build.SourcesDirectory)/Wiinject/Wiinject.csproj'
      arguments: '-c Release -o $(Build.ArtifactStagingDirectory)/$(imageName) /bl:$(Build.ArtifactStagingDirectory)/publish.binlog'
      zipAfterPublish: false
    displayName: Build Wiinject
  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'
    displayName: Publish Wiinject